<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing" />
        <add namespace="PWSWebApi" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>

  <appSettings>
    <add key="webpages:Enabled" value="false" />
  </appSettings>

  <system.webServer>
    <handlers>
      <remove name="BlockViewHandler"/>
      <add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
    </handlers>
  </system.webServer>
  <connectionStrings>
    <add name="PWSEntitiesDev" connectionString="metadata=res://*/DataAccess.PWS.csdl|res://*/DataAccess.PWS.ssdl|res://*/DataAccess.PWS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.112;initial catalog=PWS;user id=PWSAccess;Password=Iws10#b;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PWSProd" connectionString="Data Source=192.168.100.112;Initial Catalog=PWS;User ID=PWSAccess;Password=Iws10#b" />
    <add name="PWSRec" connectionString="Data Source=192.168.100.111;Initial Catalog=PWS_Rec;User ID=PWSAccess;Password=Iws10#b" />
    <add name="PWS DEV" connectionString="Data Source=192.168.100.112;Initial Catalog=PWS;Persist Security Info=True;User ID=PWSAccess;Password=Iws10#b; Min Pool Size=0;Max Pool Size=100;Pooling=true; Connect Timeout=900" providerName="System.Data.SqlClient" />
    <!--<add name="PWSProd" connectionString="Data Source=192.168.100.102;Initial Catalog=PWS;User ID=PWSAccess;Password=Iws10#b" />-->
  </connectionStrings>

  <system.web>
    <compilation>
      <assemblies>
        <add assembly="System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
  </system.web>
</configuration>
