@using PWSWebApi.Areas.HelpPage
@model InvalidSample
<environment include="Development">
    <div class="warning-message-container">
        <p>@Model.ErrorMessage</p>
    </div>
</environment>
<p>Sample not available.</p>
